---
hide:
  - navigation
  - tags
search:
  exclude: true
---

# #verification

### Keywords by Co - Occurrence

<a href="../../keyword/bending"><button class="btn">#bending (1)</button></a> <a href="../../keyword/concrete"><button class="btn">#concrete (1)</button></a> <a href="../../keyword/element"><button class="btn">#element (1)</button></a> <a href="../../keyword/experiment"><button class="btn">#experiment (1)</button></a> <a href="../../keyword/print"><button class="btn">#print (1)</button></a> 

<ol class = "bordered-list" reversed>
  <li><a href="../../../author/telichko_victor"><b>Telichko</b> Victor</a>, <a href="../../../author/slavcheva_stanislavovna_galina"><b>Slavcheva</b> Galina</a>, <a href="../../../author/levchenko_artem"><b>Levchenko</b> Artem</a> <a href="../../../date/2025/12">(2025-12)</a><br><a href="../../../teli_slav_levc.2025.EVFMoBR3PCE/">Experimentally Verified FE Model of Bending Reinforced 3D-Printed Concrete Elements</a></li>
</ol>
